<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hbase/src/kapil/kumar/aadhar/AadharDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kapil.kumar.aadhar.AadharDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/edureka/Desktop/datasets/hotcold.txt/ /home/edureka/Desktop/datasets/hotcoldoutput"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hbase"/>
</launchConfiguration>
