<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hbase/src/StrinPracitcals.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="StrinPracitcals"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/edureka/Desktop/datasets/aadhar.txt/&#10;/home/edureka/Desktop/datasets"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hbase"/>
</launchConfiguration>
